@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Rubik&display=swap');

/* ========================== font guide
* font-family: 'Barlow', sans-serif; // base font
* font-family: 'Chango', cursive; // effect font
* font-family: 'Source Sans Pro', sans-serif;  // clean font
*/

* {
  box-sizing: border-box;
  font-family: 'DM Sans' !important;
}

body {
  margin: 0;
  padding: 0;
  /* base font */
  font-family: 'DM Sans' !important;
  color: #ffffff;
}

button {
  font-family: 'DM Sans' !important;
  padding: 0;
  margin: 0;
}

.Mui-selected {
  color: #ffffff !important;
  height: 60px;
}

.MuiButton-endIcon {
  margin-top: -1px;
  margin-left: 4px !important;
}

.MuiTableCell-root {
  padding: 8px !important;
  border-bottom: none !important;
}

/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #222630;
  border-radius: 5px;
}
